@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgba(120, 113, 108, 1);
  --secondary-color: rgb(9, 9, 11);
}

html {
  scroll-behavior: smooth;
  background-color: black;
}
body::-webkit-scrollbar {
  width: 4px;
  background: var(--secondary-color);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 2px;
}
.nav-ul li {
  padding: 6px;
  margin-left: 2.5rem;
  cursor: pointer;
  position: relative;
}
.nav-ul li:hover {
  color: var(--primary-color);
  transition: ease-in-out 0.2s;
}
.nav-btn button {
  padding: 6px 8px;
  border-radius: 10px;
  cursor: pointer;
}
.nav-btn {
  margin-left: 2rem;
}
.menu-btn {
  display: none;
}
.myImg {
  animation: img-fade-in 1.2s ease-in-out;
  background-blend-mode: screen;
}
.intro-text {
  animation: intro-fade-in 1s ease-in-out;
}
.nav-wrapper {
  animation: nav-fade-in 1s ease-in-out;
}
.text-1 {
  animation: text-fade-in 1s ease-in-out;
}
.text-2 {
  animation: text-fade-in 1.1s ease-in-out;
}
.text-3 {
  animation: text-fade-in 1.2s ease-in-out;
}
.text-summary {
  animation: text-summary-fade-in 1.4s ease-in-out;
}
.text-summary span {
  color: var(--primary-color);
}
.text-contact {
  animation: text-contact-fade-in 1.4s ease-in-out;
}
.social-links {
  animation: social-links-fade-in 1.5s ease-in-out;
}
.about-text span {
  color: var(--primary-color);
}
.projects-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
  width: 40rem;
  height: 14rem;
  transition: ease-in-out 0.5s;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--secondary-color);
}
.project-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 1rem;
  letter-spacing: 0.1em;
  text-wrap: nowrap;
}
.ecommerce-card {
  transition: ease-in-out 0.5s;
}
.portfolio-card {
  transition: ease-in-out 0.5s;
  margin: 0 0 0 auto;
}
.skills-list {
  grid-template-columns: 1fr 1fr;
}
.contact-wrapper {
  height: 32rem;
}
.contact-links a:hover {
  color: rgb(226 232 240);
}
.top-btn a {
  font-size: large;
  font-weight: 600;
  border: 1.5px solid;
  border-radius: 100%;
  padding: 6px 14px;
  background: transparent;
}
.top-btn a:hover {
  color: rgb(226 232 240);
}

/* @Keyframes */

@keyframes nav-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes img-fade-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes intro-fade-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes text-fade-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes text-summary-fade-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes text-contact-fade-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes social-links-fade-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* media-queries */

@media screen and (max-width: 992px) {
  .nav-wrapper {
    position: fixed, relative;
    overflow: visible;
  }
  .nav-items {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(24 24 27);
    border-radius: 0.5rem;
    height: fit-content;
    padding: 2rem 4.5rem;
    top: 4.39rem;
    right: -10%;
    position: absolute;
    transition: 0.4s ease-in-out;
    opacity: 0;
  }
  .nav-items.openList {
    right: 0.2rem;
    opacity: 1;
  }
  .nav-list .nav-ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  .nav-items,
  .nav-ul > li {
    margin-left: 0;
  }
  .nav-btn {
    padding-top: 2rem;
    margin-left: 0;
  }
  .menu-btn {
    display: flex;
  }
  .main-wrapper {
    padding-top: 8rem;
  }
  .intro-text {
    font-size: 2rem;
  }
  .text-summary {
    width: 100%;
    padding-bottom: 1.65rem;
  }
  .social-links {
    padding-top: 1rem;
  }
}

@media screen and (max-width: 845px) {
  .main-wrapper {
    padding-left: 2rem;
    padding-right: 0.5rem;
  }
  .main-img {
    display: none;
  }
  .intro-text {
    padding-top: 1.6rem;
    width: 100%;
  }
  .text-summary {
    padding-bottom: 2rem;
    line-height: 1.2rem;
    width: 80%;
  }
  .skills-cards {
    flex-direction: column;
    gap: 2rem;
    padding: 0 4rem;
    width: fit-content;
    background-color: var(--secondary-color);
    border-radius: 0.75rem;
  }
  .about-wrapper {
    gap: 2rem;
  }
  .about-text {
    padding: 2.5rem 0 5rem 0;
  }
  .about-text p {
    font-size: 1rem;
  }
  .sign-image {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .intro-text {
    font-size: 2.4rem;
  }
  .text-contact {
    padding-top: 1rem;
    font-size: 0.6rem;
  }
  .social-links {
    padding-top: 2rem;
  }
  .projects-wrapper {
    padding: 9rem 2rem 0 2rem;
  }
  .projects {
    width: fit-content;
  }
  .projects-card {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: fit-content;
  }
  .projects-icon {
    background-color: rgb(24 24 27);
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
  }
  .project-tech {
    width: 100%;
    padding: 0.5rem;
  }
  .project-links {
    gap: 0;
    justify-content: space-between;
    text-wrap: nowrap;
  }
  .skills-cards {
    padding: 0;
  }
  .about-wrapper {
    padding: 9rem 2rem 0 2rem;
  }
  .about-text p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    /* margin-bottom: 4rem; */
  }
  .contact-wrapper {
    margin-bottom: 4rem;
  }
  .contact-links {
    flex-direction: column;
    gap: 3rem;
  }
  .footer-wrapper {
    font-size: 0.4rem;
    margin: 0 1rem 1rem 1rem;
  }
}
