@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: black;
}
.nav-ul li {
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}
.nav-ul li::after {
  content: "";
  width: 0;
  height: 2px;
  background: rgba(120, 113, 108, 1);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.4s ease-in-out;
}
.nav-ul li:hover::after {
  width: 100%;
}
.nav-btn button {
  padding: 6px 8px;
  border-radius: 10px;
  cursor: pointer;
}
.myImg {
  animation: img-fade-in 1.2s ease-in-out;

  background-blend-mode: screen;
}
.intro-text {
  animation: intro-fade-in 1s ease-in-out;
}
.nav-wrapper {
  animation: nav-fade-in 1s ease-in-out;
}
.text {
  animation: text-fade-in 1.2s ease-in-out;
}
.text-summary {
  animation: text-summary-fade-in 1.4s ease-in-out;
}
.text-summary span {
  color: rgba(120, 113, 108, 1);
}
.text-contact {
  animation: text-contact-fade-in 1.4s ease-in-out;
}
.social-links {
  animation: social-links-fade-in 1.5s ease-in-out;
}
.about-wrapper {
  height: 90vh;
  animation: about-fade-in 1s ease-in-out;
  animation-timeline: scroll();
}
.about-text span {
  color: rgba(120, 113, 108, 1);
}
.skills-wrapper {
  animation: skills-fade-in 4s ease-in-out;
  animation-timeline: scroll();
}
.news-card {
  transition: ease-in-out 0.5s;
}
.ecommerce-card {
  transition: ease-in-out 0.5s;
}
.portfolio-card {
  transition: ease-in-out 0.5s;
}

/* @Keyframes */

@keyframes nav-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes img-fade-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes intro-fade-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes text-fade-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes text-summary-fade-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes text-contact-fade-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes social-links-fade-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes about-fade-in {
  0% {
    opacity: 0;
    transform: scale(40%);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
@keyframes skills-fade-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
}
